
tr
	td(style='width:400px) 
		a(href='#{r.url}') #{r.url}
	td(align='center')=r.passes-r.failed
	td(align='center')=r.passes
	td(align='center')=r.failed
	td(style='width:200px')=r.date
	td=r.submittor